body{
    box-sizing: border-box;
}

img{
    width: 150px;
    height: 50px;
}
h1{
    color: red;
}

header span{
    color: red;
}
.firsttext{
    background-color: blue;
    color: #fff;
    width: 100px;
    margin: 0 0 100px 0;
}

.title{
    background-color: green;
    color: white;
    padding: 2px;
}

.what h2{
    background-color: green;
    padding: 40px;
    color: white;
}

.ican{
    margin: 0 0 0 120px;
}

.what li{
    border: 1px solid black;
}

footer a{
    padding-bottom: 120px;
}
